@charset "utf-8";
/* Main body */
body
{
    color: #000000;
    background: #ffffff;
    padding-left: 2em;
    padding-right: 2em;
}

pre
{
    font-family: monospace;
}

.grd
{
    /* default background colour, for all layout engines that don't implement gradients */
    background: #2a6da9;
    
    /* gecko based browsers */
    /* background: -moz-linear-gradient(top, #55aaee, #003366); */
    /* background: -moz-linear-gradient(top, #55aaee, #FFFFFF); */
    
    /* webkit based browsers */
    /* background: -webkit-gradient(linear, left top, left bottom, from(#55aaee), to(#003366)); */
    
    background: -webkit-linear-gradient(#55aaee, #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#55aaee, #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#55aaee, #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#55aaee, #FFFFFF); /* Standard syntax */
    
    background-repeat: no-repeat;
    
    color: #000000; /* text colour (black) */
    height: full; /* gradient uses the full height of the element */
    padding: 2cm; /* distance from border edge to text */
}

img {
    width: auto;
    height: 10%;
}
